<section class="">
    <div class="navbar-fixed">
        <nav class="z-depth-0">
            <div class="grey darken-3 nav-wrapper">
                <ul class="left">
                    <li class="">
                        <div class="chip grey darken-2 grey-text z-depth-0 ml-2">
                            <img src="assets/user.png" alt=""> Mário Jorge
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <!-- full content -->
    <section class="fullBody">
        <!-- navbar -->
        <div class="row">
            <!-- lado direito -->
            <div class="col s12 m12 l2 left-style grey darken-4">
                <div class="row mt-2">
                    <div class="col s12">
                        <a href="" class="btn"><i class="material-icons">home</i> Home</a>
                        <a href="" class="btn"><i class="material-icons">search</i> Pesquisar</a>
                        <a href="" class="btn"><i class="material-icons">library_music</i> Biblioteca</a>
                        <a href="" class="btn"><i class="material-icons">settings_input_antenna</i> Rádio</a>
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col s12">
                        <h6 class="ml-4 grey-text">Lista de reprodução</h6>
                        <a href="" class="btn"><i class="material-icons">add</i> Criar lista de reprodução</a>
                        <a href="" class="btn"><i
                                class="small-box grey darken-3 material-icons">keyboard_arrow_right</i>
                            Rádio</a>
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col s12">
                        <hr>
                        <a href="" class="btn grey-text">RapCaviar</a>
                        <a href="" class="btn grey-text">Music mix #1</a>
                        <a href="" class="btn grey-text">Music mix #2</a>
                    </div>
                </div>
            </div>
            <!-- fim lado direito -->

            <!-- lado esquerdo -->
            <div class="col s12 m12 l10">
                <section class="scroll-y no-scroll-x barra-rolagem">
                    <div class="row mt-5 pr-3">
                        <div class="col s12 m4 l2" style="position: relative;">
                            <div class="card z-depth-0" style="position: relative;">
                                <div class="card-image">
                                    <img src="{{song.artwork}}" style="filter: brightness(90%); height: 200px; object-fit: cover;">
                                    <span class="badge blue left new" data-badge-caption="2223"
                                        style="position: absolute; top:10px; left: 0px; border-radius: 10px;"></span>
                                </div>
                            </div>
                        </div>

                        <div class="col s12 m8 l10">
                            <h5 class="negrito grey-text text-lighten-3 texto-4">{{song.title}} </h5>
                            <h6 class="texto-2 grey-text text-lighten-2 negrito">{{song.artist}} </h6>
                            <i class="material-icons amber-text mr-3">star</i>
                            <i class="material-icons amber-text mr-3">star</i>
                            <i class="material-icons amber-text mr-3">star</i>
                            <i class="material-icons amber-text mr-3">star</i>
                            <i class="material-icons amber-text mr-3">star_half</i>
                            <p class="texto-1 grey-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Voluptas, vitae! Beatae repellat ipsa unde tempore iure voluptate aliquid excepturi
                                eveniet repudiandae ipsam dolores officia reiciendis temporibus, enim odit magni
                                placeat.</p>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col s12 m12 l12">
                            <table class="grey-text text-lighten-3 highlight responsive-table">
                                <thead>
                                  <tr>
                                      <th>#</th>
                                      <th>Título</th>
                                      <th>Favorito</th>
                                      <th>Duração</th>
                                  </tr>
                                </thead>
                        
                                <tbody>
                                  <tr>
                                    <td>1</td>
                                    <td>Eclair</td>
                                    <td><i class="material-icons">favorite</i> </td>
                                    <td>$0.87</td>
                                  </tr>
                                  <tr>
                                    <td>1</td>
                                    <td>Eclair</td>
                                    <td><i class="material-icons">favorite_border</i> </td>
                                    <td>$0.87</td>
                                  </tr>
                                </tbody>
                              </table>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <!-- fim lado esquerdo -->
        <!-- fim navbar -->

        <section class="footer">
            <section class="music-player">
                <main class="music-player--main">
                    <div class="music-player--progress">
                        <progress class="progress--progress-bar" value="43" max="100"></progress>
                    </div>
                    <div class="music-player--controls">
                        <i class="material-icons controls--play-button">pause</i>

                        <div class="song-info">
                            <div class="song-info--title">Is This Love</div>
                            <div class="song-info--artist">Bob Marley</div>
                        </div>
                        <div class="controls--actions">
                            <i class="material-icons fa fa-backward actions--repeat">transform</i>
                            <i class="material-icons fa fa-backward actions--repeat">sync</i>
                            <i class="material-icons fa fa-backward actions--back">arrow_back</i>
                            <i class="material-icons fa fa-forward actions--forward">arrow_forward</i>
                        </div>
                    </div>
                </main>
            </section>
        </section>
    </section>
    <!-- fim full content -->

</section>